.navbar {
  background-color: white;
  border-bottom: 1px solid #dee2e6 !important;
}

@media only screen and (min-width: 769px) {
  .navbar {
    height: 5.5rem;
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
}
