footer {
  text-align: center;
}

footer .row {
  align-items: center;
}

footer .text-muted {
  font-size: 15px;

  a {
    color: #6c757d;
  }
}

.social-networks {
  display: flex;
  justify-content: center;

  ul {
    display: flex;

    li a {
      width: 10rem;
      color: black;
    }

    li:not(:first-child) {
      margin-left: 0.7rem;
    }
  }

  svg {
    font-size: larger;
  }
}
